@import url(https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;

400;500&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #161515;
  line-height: 1;
  font-family: "League Spartan";
  font-size: 2rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "League Spartan";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.0625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  font-weight: 300;
  line-height: 155%;
  color: #161515;
}

.label {
  font-weight: 300;
  font-size: 24px;
  color: #161515;
}

.btn {
  color: #fff;
  background-color: #161515;
  display: block;
  font-weight: 300;
  line-height: 29px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: #000000;
}

.btn:active {
  background-color: #21353d;
}

.model-name {
  font-weight: 400;
  line-height: 29px;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
}

.header__inner {
  max-width: 1187px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner img {
  width: 100%;
}

.header__text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.header__label {
  display: inline-block;
}

.header__title {
  font-weight: 300;
  line-height: 230px;
  color: #272727;
}

.header__price {
  font-weight: 300;
  line-height: 186%;
  color: #272727;
}

.header__btn-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75rem;
}

.models__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.models__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 112.5%;
}

.models__son22-text {
  max-width: 33.1875rem;
  width: 100%;
  text-align: center;
  margin-top: 1.0625rem;
}

.models__sw12-text {
  max-width: 31.875rem;
  width: 100%;
  text-align: center;
  margin-top: 1.0625rem;
}

.models__img-son22 {
  max-width: 17.875rem;
  width: 100%;
}

.models__img-sw12 {
  max-width: 31.25rem;
  width: 100%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer__description {
  position: relative;
}

.footer__description::after {
  content: "";
  bottom: -0.4375rem;
  right: calc(50% - 89px);
  position: absolute;
  width: 11.125rem;
  height: 0.0625rem;
  background-color: #707070;
}

.footer__text {
  max-width: 32.1875rem;
  width: 100%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 170%;
}

.footer__text span {
  color: #bb8b5d;
}

@media (min-width: 76.0625em) {
  .text {
    font-size: 2rem;
  }

  .label {
    font-size: 1.5rem;
  }

  .btn {
    padding-top: 1.625rem;
  }

  .btn {
    padding-right: 4.625rem;
  }

  .btn {
    padding-bottom: 1.625rem;
  }

  .btn {
    padding-left: 4.625rem;
  }

  .btn {
    font-size: 2rem;
  }

  .model-name {
    font-size: 2rem;
  }

  .header {
    padding-bottom: 10.5rem;
  }

  .header__text-block {
    padding-top: 6.5rem;
  }

  .header__title {
    font-size: 15.625rem;
  }

  .header__title {
    margin-top: 3.3125rem;
  }

  .header__title {
    line-height: 14.375rem;
  }

  .header__text {
    margin-top: 2.6875rem;
  }

  .header__price {
    font-size: 2rem;
  }

  .header__img-blok {
    margin-right: -7.5rem;
  }

  .section-models {
    padding-top: 2.6875rem;
  }

  .section-models {
    padding-bottom: 3.6875rem;
  }

  .models__son22 {
    margin-top: 11.0625rem;
  }

  .models__sw12 {
    margin-top: 11.0625rem;
  }

  .models__img-son22 {
    margin-top: 12.125rem;
  }

  .models__img-sw12 {
    margin-top: 12.125rem;
  }

  .footer {
    padding-bottom: 3.75rem;
  }

  .footer__text {
    margin-top: 3.625rem;
  }
}

@media (max-width: 20em) {
  .text {
    font-size: 1.5rem;
  }

  .label {
    font-size: 1.25rem;
  }

  .btn {
    padding-top: 0.9375rem;
  }

  .btn {
    padding-right: 3.0625rem;
  }

  .btn {
    padding-bottom: 0.9375rem;
  }

  .btn {
    padding-left: 3.0625rem;
  }

  .btn {
    font-size: 1.5rem;
  }

  .model-name {
    font-size: 1.5rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__text-block {
    padding-top: 1.875rem;
  }

  .header__title {
    font-size: 6.875rem;
  }

  .header__title {
    margin-top: 1.25rem;
  }

  .header__title {
    line-height: 6.25rem;
  }

  .header__text {
    margin-top: 1.25rem;
  }

  .header__price {
    font-size: 1.5rem;
  }

  .header__img-blok {
    margin-right: -1.25rem;
  }

  .section-models {
    padding-top: 1.25rem;
  }

  .section-models {
    padding-bottom: 1.25rem;
  }

  .models__son22 {
    margin-top: 1.25rem;
  }

  .models__sw12 {
    margin-top: 1.25rem;
  }

  .models__img-son22 {
    margin-top: 1.25rem;
  }

  .models__img-sw12 {
    margin-top: 1.25rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer__text {
    margin-top: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__img-blok {
    margin-right: 0;
    max-width: 28.125rem;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header__inner {
    gap: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 76.0625em) {
@supports (font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem )) {
    .text {
      font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem )) {
    .text {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 56.0625);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1608138239rem  +  0.4459308807vw , 1.5rem )) {
    .label {
      font-size: clamp( 1.25rem , 1.1608138239rem  +  0.4459308807vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1608138239rem  +  0.4459308807vw , 1.5rem )) {
    .label {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.6922380156rem  +  1.226309922vw , 1.625rem )) {
    .btn {
      padding-top: clamp( 0.9375rem , 0.6922380156rem  +  1.226309922vw , 1.625rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6922380156rem  +  1.226309922vw , 1.625rem )) {
    .btn {
      padding-top: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-right: clamp( 3.0625rem , 2.5050863991rem  +  2.7870680045vw , 4.625rem )) {
    .btn {
      padding-right: clamp( 3.0625rem , 2.5050863991rem  +  2.7870680045vw , 4.625rem );
    }
}

@supports not (padding-right: clamp( 3.0625rem , 2.5050863991rem  +  2.7870680045vw , 4.625rem )) {
    .btn {
      padding-right: calc(3.0625rem + 1.5625 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6922380156rem  +  1.226309922vw , 1.625rem )) {
    .btn {
      padding-bottom: clamp( 0.9375rem , 0.6922380156rem  +  1.226309922vw , 1.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6922380156rem  +  1.226309922vw , 1.625rem )) {
    .btn {
      padding-bottom: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-left: clamp( 3.0625rem , 2.5050863991rem  +  2.7870680045vw , 4.625rem )) {
    .btn {
      padding-left: clamp( 3.0625rem , 2.5050863991rem  +  2.7870680045vw , 4.625rem );
    }
}

@supports not (padding-left: clamp( 3.0625rem , 2.5050863991rem  +  2.7870680045vw , 4.625rem )) {
    .btn {
      padding-left: calc(3.0625rem + 1.5625 * (100vw - 20rem) / 56.0625);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem )) {
    .btn {
      font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem )) {
    .btn {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 56.0625);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem )) {
    .model-name {
      font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem )) {
    .model-name {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -2.0498885173rem  +  16.4994425864vw , 10.5rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , -2.0498885173rem  +  16.4994425864vw , 10.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -2.0498885173rem  +  16.4994425864vw , 10.5rem )) {
    .header {
      padding-bottom: calc(1.25rem + 9.25 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.2250557414rem  +  8.2497212932vw , 6.5rem )) {
    .header__text-block {
      padding-top: clamp( 1.875rem , 0.2250557414rem  +  8.2497212932vw , 6.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.2250557414rem  +  8.2497212932vw , 6.5rem )) {
    .header__text-block {
      padding-top: calc(1.875rem + 4.625 * (100vw - 20rem) / 56.0625);
    }
}

@supports (font-size: clamp( 6.875rem , 3.753483835rem  +  15.607580825vw , 15.625rem )) {
    .header__title {
      font-size: clamp( 6.875rem , 3.753483835rem  +  15.607580825vw , 15.625rem );
    }
}

@supports not (font-size: clamp( 6.875rem , 3.753483835rem  +  15.607580825vw , 15.625rem )) {
    .header__title {
      font-size: calc(6.875rem + 8.75 * (100vw - 20rem) / 56.0625);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.5142140468rem  +  3.6789297659vw , 3.3125rem )) {
    .header__title {
      margin-top: clamp( 1.25rem , 0.5142140468rem  +  3.6789297659vw , 3.3125rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.5142140468rem  +  3.6789297659vw , 3.3125rem )) {
    .header__title {
      margin-top: calc(1.25rem + 2.0625 * (100vw - 20rem) / 56.0625);
    }
}

@supports (line-height: clamp( 6.25rem , 3.3514492754rem  +  14.4927536232vw , 14.375rem )) {
    .header__title {
      line-height: clamp( 6.25rem , 3.3514492754rem  +  14.4927536232vw , 14.375rem );
    }
}

@supports not (line-height: clamp( 6.25rem , 3.3514492754rem  +  14.4927536232vw , 14.375rem )) {
    .header__title {
      line-height: calc(6.25rem + 8.125 * (100vw - 20rem) / 56.0625);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.7371794872rem  +  2.5641025641vw , 2.6875rem )) {
    .header__text {
      margin-top: clamp( 1.25rem , 0.7371794872rem  +  2.5641025641vw , 2.6875rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.7371794872rem  +  2.5641025641vw , 2.6875rem )) {
    .header__text {
      margin-top: calc(1.25rem + 1.4375 * (100vw - 20rem) / 56.0625);
    }
}

@supports (font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem )) {
    .header__price {
      font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.3216276477rem  +  0.8918617614vw , 2rem )) {
    .header__price {
      font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 56.0625);
    }
}

@supports (margin-right: clamp( -7.5rem , 0.9796544036rem  +  -11.1482720178vw , -1.25rem )) {
    .header__img-blok {
      margin-right: clamp( -7.5rem , 0.9796544036rem  +  -11.1482720178vw , -1.25rem );
    }
}

@supports not (margin-right: clamp( -7.5rem , 0.9796544036rem  +  -11.1482720178vw , -1.25rem )) {
    .header__img-blok {
      margin-right: calc(-1.25rem + -6.25 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7371794872rem  +  2.5641025641vw , 2.6875rem )) {
    .section-models {
      padding-top: clamp( 1.25rem , 0.7371794872rem  +  2.5641025641vw , 2.6875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7371794872rem  +  2.5641025641vw , 2.6875rem )) {
    .section-models {
      padding-top: calc(1.25rem + 1.4375 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.6875rem )) {
    .section-models {
      padding-bottom: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.3804347826rem  +  4.347826087vw , 3.6875rem )) {
    .section-models {
      padding-bottom: calc(1.25rem + 2.4375 * (100vw - 20rem) / 56.0625);
    }
}

@supports (margin-top: clamp( 1.25rem , -2.2505574136rem  +  17.502787068vw , 11.0625rem )) {
    .models__son22 {
      margin-top: clamp( 1.25rem , -2.2505574136rem  +  17.502787068vw , 11.0625rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , -2.2505574136rem  +  17.502787068vw , 11.0625rem )) {
    .models__son22 {
      margin-top: calc(1.25rem + 9.8125 * (100vw - 20rem) / 56.0625);
    }
}

@supports (margin-top: clamp( 1.25rem , -2.2505574136rem  +  17.502787068vw , 11.0625rem )) {
    .models__sw12 {
      margin-top: clamp( 1.25rem , -2.2505574136rem  +  17.502787068vw , 11.0625rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , -2.2505574136rem  +  17.502787068vw , 11.0625rem )) {
    .models__sw12 {
      margin-top: calc(1.25rem + 9.8125 * (100vw - 20rem) / 56.0625);
    }
}

@supports (margin-top: clamp( 1.25rem , -2.6295986622rem  +  19.397993311vw , 12.125rem )) {
    .models__img-son22 {
      margin-top: clamp( 1.25rem , -2.6295986622rem  +  19.397993311vw , 12.125rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , -2.6295986622rem  +  19.397993311vw , 12.125rem )) {
    .models__img-son22 {
      margin-top: calc(1.25rem + 10.875 * (100vw - 20rem) / 56.0625);
    }
}

@supports (margin-top: clamp( 1.25rem , -2.6295986622rem  +  19.397993311vw , 12.125rem )) {
    .models__img-sw12 {
      margin-top: clamp( 1.25rem , -2.6295986622rem  +  19.397993311vw , 12.125rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , -2.6295986622rem  +  19.397993311vw , 12.125rem )) {
    .models__img-sw12 {
      margin-top: calc(1.25rem + 10.875 * (100vw - 20rem) / 56.0625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.3581382386rem  +  4.4593088071vw , 3.75rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.3581382386rem  +  4.4593088071vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.3581382386rem  +  4.4593088071vw , 3.75rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 56.0625);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.4027313266rem  +  4.2363433668vw , 3.625rem )) {
    .footer__text {
      margin-top: clamp( 1.25rem , 0.4027313266rem  +  4.2363433668vw , 3.625rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.4027313266rem  +  4.2363433668vw , 3.625rem )) {
    .footer__text {
      margin-top: calc(1.25rem + 2.375 * (100vw - 20rem) / 56.0625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 76.0625em) {
  .header__inner {
    gap: 3.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 76.0625em) {
@supports (gap: clamp( 1.25rem , 0.5811036789rem  +  3.3444816054vw , 3.125rem )) {
    .header__inner {
      gap: clamp( 1.25rem , 0.5811036789rem  +  3.3444816054vw , 3.125rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.5811036789rem  +  3.3444816054vw , 3.125rem )) {
    .header__inner {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 56.0625);
    }
}
}